<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>The word count is: {{ length }}</h2>
    <h2>Your text is: {{ fulltext }}</h2>
    <p>{{ fulltext }}</p>
    <h2>These words appeared the most:</h2>
    <pre>{{ worddictionary }}</pre>

    <ul>
        {% for word, counttotal in worddictionary %}
        <li>{{ word }} - count: {{ counttotal }}</li>
        {% endfor %}
    </ul>
</body>
</html>